.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  font-family: 'Roboto';
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
}
.uppercard {
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  border: 1px solid #171f46;
  border-radius: 4px;
  font-size: 20px;
}
label {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.button {
  width: 130px;
  border: none;
  border-radius: 5px;
  background-color: #8b5cf6;
  font-size: 18px;
  padding: 5px;
  color: #ffffff;
  margin-top: 15px;
}
.rightcard {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.get-button {
  border: 1px solid #b5b7c4;
  color: #b5b7c4;
  font-size: 20px;
  border-radius: 9px;
  background-color: transparent;
}
.active {
  background-color: #8b5cf6;
  color: #b5b7c4;
  border: none;
}
.lowercard {
  display: flex;
  flex-direction: column;
}
.block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block2 {
  display: flex;
  flex-wrap: wrap;
}
